{% if page.newsletter %}
	<section id="newsletter" class="mt-5">
		<div class="container">
			{{ page.newsletter }}
		</div>
	</section>
{% endif %}
<footer
	id="footer">
	{# footer blocks  #}
	<div class="footer-blocks py-5">
		<div class="container">
			<div
				class="row">
				{# Footer Introduction #}
				<div class="col-md-5 footer-intro">
					<a href="{{ front }}" class="logo d-flex align-items-center">
						<h4>Introduction</h4>
					</a>
				</div>

				{# Footer Useful Links #}
				<div class="col-md-2 useful-links">
				<a href="{{ front }}" class="logo d-flex align-items-center">
					<h4>Useful Links</h4>
					</a>
				</div>

				{# Footer Our Services Links #}
				<div class="col-md-2 services-links">
				<a href="{{ front }}" class="logo d-flex align-items-center">
					<h4>Services</h4>
					</a>
				</div>

				{# Footer Contact Us #}
				<div class="col-md-3 contact-us">
				<a href="{{ front }}" class="logo d-flex align-items-center">
					<h4>Contact Us</h4>
					</a>
				</div>

			</div>
		</div>
	</div>

	{# footer bottom  #}
	<div class="footer-bottom mt-auto py-4 text-center">
		<div class="container">
			<div class="copyright text-sm">
				<p>
					&copy;
					{{ "now"|date("Y") }}
					{{ site_name }}, All rights reserved.
				</p>
				<p class="mb-0">Developed by
					<a href="#">arshadsahjavi</a>
				</p>
			</div>
		</div>
	</div>
</footer>
{# scroll top #}
{# <div class="scrolltop">
	<div class="fa fa-scrolltop">&#x2191;</div>
</div> #}
