<header class="header fixed-top header-scrolled" role="banner">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		{% if logo %}
			<div class="logo flex-auto">
				<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
					<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
				</a>
			</div>
		{% endif %}
		{{ page.primary_menu }}
		{{ page.search }}
	</div>
</header>