{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<header role="banner">
	{% if logo %}
		<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
			<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
		</a>
	{% endif %}

	{% if site_name or site_slogan %}
		{% if site_name %}
			<h1>
				<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
			</h1>
		{% endif %}

		{% if site_slogan %}
			<div>{{ site_slogan }}</div>
		{% endif %}
	{% endif %}
</header>

<main role="main">
	{% if title %}
		<h1>{{ title }}</h1>
	{% endif %}

	{{ page.highlighted }}

	{{ page.content }}
</main>

{% if page.sidebar_first %}
	<aside role="complementary">
		{{ page.sidebar_first }}
	</aside>
{% endif %}

{% if page.sidebar_second %}
	<aside role="complementary">
		{{ page.sidebar_second }}
	</aside>
{% endif %}

{# {% include '@chahmirian/partials/footer.html.twig' %} #}
